APP.GPMS/Connected Services/GPMSService/GPMSService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63995/GPMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.GPMS" />
  <xs:import schemaLocation="http://localhost:63995/GPMSService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="AddPackingInstructionD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="packingInstructionDBo" nillable="true" type="q1:PackingInstructionDBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackingInstructionDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPackingInstructionDResult" nillable="true" type="q2:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabels_AcdSprt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pPONo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCreatedDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLabels_AcdSprtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetLabels_AcdSprtResult" nillable="true" type="q3:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackQty">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerID" nillable="true" type="xs:int" />
        <xs:element minOccurs="0" name="pPONo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pCreatedDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackQtyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPackQtyResult" nillable="true" type="q4:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfCustomerDataWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCompanyID" type="xs:int" />
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pSearchTxt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSkipNo" type="xs:int" />
        <xs:element minOccurs="0" name="pTakeNo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfCustomerDataWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="SkipNGetN_OfCustomerDataWithSearchResult" nillable="true" type="q5:FetchDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfStyleDataWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pSearchTxt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSkipNo" type="xs:int" />
        <xs:element minOccurs="0" name="pTakeNo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfStyleDataWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="SkipNGetN_OfStyleDataWithSearchResult" nillable="true" type="q6:FetchDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfSizeDataWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pSearchTxt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSkipNo" type="xs:int" />
        <xs:element minOccurs="0" name="pTakeNo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfSizeDataWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="SkipNGetN_OfSizeDataWithSearchResult" nillable="true" type="q7:FetchDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfColorDataWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="pSearchTxt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pSkipNo" type="xs:int" />
        <xs:element minOccurs="0" name="pTakeNo" nillable="true" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SkipNGetN_OfColorDataWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="SkipNGetN_OfColorDataWithSearchResult" nillable="true" type="q8:FetchDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCarton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pCartonInfoBo" nillable="true" type="q9:CartonInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCartonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddCartonResult" nillable="true" type="q10:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCarton">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pCartonInfoBo" nillable="true" type="q11:CartonInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateCartonResult" nillable="true" type="q12:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartonById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCartonId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartonByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetCartonByIdResult" nillable="true" type="q13:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartonByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCartonCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartonByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetCartonByCodeResult" nillable="true" type="q14:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCartons">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCartonsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllCartonsResult" nillable="true" type="q15:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pColorInfoBo" nillable="true" type="q16:ColorInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddColorResult" nillable="true" type="q17:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColor">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pColorInfoBo" nillable="true" type="q18:ColorInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateColorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateColorResult" nillable="true" type="q19:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pColorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetColorByIdResult" nillable="true" type="q20:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pColorCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetColorByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetColorByCodeResult" nillable="true" type="q21:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllColors">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllColorsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllColorsResult" nillable="true" type="q22:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pCustomerInfoBo" nillable="true" type="q23:CustomerInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddCustomerResult" nillable="true" type="q24:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pCustomerInfoBo" nillable="true" type="q25:CustomerInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateCustomerResult" nillable="true" type="q26:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetCustomerByIdResult" nillable="true" type="q27:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetCustomerByCodeResult" nillable="true" type="q28:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCustomersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllCustomersResult" nillable="true" type="q29:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pPaymentModeInfoBo" nillable="true" type="q30:PaymentModeInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPaymentModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPaymentModeResult" nillable="true" type="q31:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentMode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pPaymentModeInfoBo" nillable="true" type="q32:PaymentModeInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentModeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdatePaymentModeResult" nillable="true" type="q33:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentModeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPaymentModeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentModeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPaymentModeByIdResult" nillable="true" type="q34:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentModeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPaymentModeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentModeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPaymentModeByCodeResult" nillable="true" type="q35:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaymentModes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPaymentModesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllPaymentModesResult" nillable="true" type="q36:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pSizeInfoBo" nillable="true" type="q37:SizeInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddSizeResult" nillable="true" type="q38:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSize">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pSizeInfoBo" nillable="true" type="q39:SizeInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSizeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateSizeResult" nillable="true" type="q40:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSizeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetSizeByIdResult" nillable="true" type="q41:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pSizeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSizeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetSizeByCodeResult" nillable="true" type="q42:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSizes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllSizesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllSizesResult" nillable="true" type="q43:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pStyleInfoBo" nillable="true" type="q44:StyleInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddStyleResult" nillable="true" type="q45:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStyle">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pStyleInfoBo" nillable="true" type="q46:StyleInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateStyleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateStyleResult" nillable="true" type="q47:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStyleById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pStyleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStyleByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetStyleByIdResult" nillable="true" type="q48:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStyleByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pStyleCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStyleByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetStyleByCodeResult" nillable="true" type="q49:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStyles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllStylesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllStylesResult" nillable="true" type="q50:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pTermInfoBo" nillable="true" type="q51:TermInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddTermResult" nillable="true" type="q52:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTerm">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pTermInfoBo" nillable="true" type="q53:TermInfoBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTermResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateTermResult" nillable="true" type="q54:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pTermId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetTermByIdResult" nillable="true" type="q55:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pTermCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTermByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetTermByCodeResult" nillable="true" type="q56:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllTermsResult" nillable="true" type="q57:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOTypeByIdResult" nillable="true" type="q58:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTypeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOTypeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOTypeByCodeResult" nillable="true" type="q59:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllPOTypesResult" nillable="true" type="q60:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOLevelById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOLevelId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOLevelByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOLevelByIdResult" nillable="true" type="q61:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOLevelByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOLevelCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOLevelByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOLevelByCodeResult" nillable="true" type="q62:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOLevels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOLevelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllPOLevelsResult" nillable="true" type="q63:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOFromById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOFromId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOFromByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOFromByIdResult" nillable="true" type="q64:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOFromByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOFromCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOFromByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOFromByCodeResult" nillable="true" type="q65:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOFroms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPOFromsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllPOFromsResult" nillable="true" type="q66:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTypeById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPackingTypeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTypeByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPackingTypeByIdResult" nillable="true" type="q67:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTypeByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPackingTypeCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPackingTypeByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPackingTypeByCodeResult" nillable="true" type="q68:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackingTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPackingTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllPackingTypesResult" nillable="true" type="q69:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentTermById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pShipmentTermId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentTermByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetShipmentTermByIdResult" nillable="true" type="q70:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentTermByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pShipmentTermCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShipmentTermByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetShipmentTermByCodeResult" nillable="true" type="q71:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipmentTerms">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShipmentTermsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllShipmentTermsResult" nillable="true" type="q72:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShippingMethod">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="pShippingMethodBo" nillable="true" type="q73:ShippingMethodBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateShippingMethodResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdateShippingMethodResult" nillable="true" type="q74:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingMethodById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pShippingMethodId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingMethodByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetShippingMethodByIdResult" nillable="true" type="q75:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingMethodByCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pShippingMethodCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetShippingMethodByCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetShippingMethodByCodeResult" nillable="true" type="q76:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShippingMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIsActive" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllShippingMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetAllShippingMethodsResult" nillable="true" type="q77:CatalogDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="POMBo" nillable="true" type="q78:POMBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPOMResult" nillable="true" type="q79:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="POMBo" nillable="true" type="q80:POMBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdatePOMResult" nillable="true" type="q81:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOMById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOMId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOMByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOMByIdResult" nillable="true" type="q82:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOByPONo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPONo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOByPONoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOByPONoResult" nillable="true" type="q83:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOM">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="DeletePOMResult" nillable="true" type="q84:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOApprovedStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="POApprovalStatuBo" nillable="true" type="q85:POApprovalStatusBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOApprovedStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdatePOApprovedStatusResult" nillable="true" type="q86:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPONumberExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPoNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPONumberExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="IsPONumberExistResult" nillable="true" type="q87:ValidationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="PODBo" nillable="true" type="q88:ArrayOfPODBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPODResult" nillable="true" type="q89:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="PODBo" nillable="true" type="q90:PODBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdatePODResult" nillable="true" type="q91:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdatePOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="PODBoList" nillable="true" type="q92:ArrayOfPODBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdatePODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddUpdatePODResult" nillable="true" type="q93:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPODId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPODByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPODByIdResult" nillable="true" type="q94:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePODResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="DeletePODResult" nillable="true" type="q95:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPOSizeD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="POSizeDBoList" nillable="true" type="q96:ArrayOfPOSizeDBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPOSizeDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPOSizeDResult" nillable="true" type="q97:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOSizeD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="POSizeDBo" nillable="true" type="q98:POSizeDBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePOSizeDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="UpdatePOSizeDResult" nillable="true" type="q99:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOSizeDById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPOSizeDId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPOSizeDByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetPOSizeDByIdResult" nillable="true" type="q100:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdatePOSizeD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="POSizeDBoList" nillable="true" type="q101:ArrayOfPOSizeDBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUpdatePOSizeDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddUpdatePOSizeDResult" nillable="true" type="q102:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOSizeD">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOSizeDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="DeletePOSizeDResult" nillable="true" type="q103:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOSizeDCollection">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="pPOSizeDIDs" nillable="true" type="q104:ArrayOfint" />
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletePOSizeDCollectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="DeletePOSizeDCollectionResult" nillable="true" type="q105:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsItemExistInPO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PONo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsItemExistInPOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="IsItemExistInPOResult" nillable="true" type="q106:ValidationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPackQtyValid">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="PONo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ItemNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CurrentPackQty" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPackQtyValidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="IsPackQtyValidResult" nillable="true" type="q107:ValidationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pCustomerID" type="xs:int" />
        <xs:element minOccurs="0" name="pStyleID" type="xs:int" />
        <xs:element minOccurs="0" name="pColorID" type="xs:int" />
        <xs:element minOccurs="0" name="pSizeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetItemNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetItemNoResult" nillable="true" type="q108:OrderDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackingPlanData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="PackingDto" nillable="true" type="q109:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackingPlanDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPackingPlanDataResult" nillable="true" type="q110:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPackingPlanAlreadyProcessed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pFileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPackingPlanAlreadyProcessedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="IsPackingPlanAlreadyProcessedResult" nillable="true" type="q111:ValidationDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackingInstructionM">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="packingInstructionMBo" nillable="true" type="q112:PackingInstructionMBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPackingInstructionMResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="AddPackingInstructionMResult" nillable="true" type="q113:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxDataByBarcode">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pBoxBacode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBoxDataByBarcodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="GetBoxDataByBarcodeResult" nillable="true" type="q114:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBoxPacking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pPackingInstructionMID" type="xs:int" />
        <xs:element minOccurs="0" name="pUpdatedByID" type="xs:int" />
        <xs:element minOccurs="0" name="pUpdatedBy" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBoxPackingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/Entities.GPMS" minOccurs="0" name="SaveBoxPackingResult" nillable="true" type="q115:PackingDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>