GPMS/APP.GPMS/Connected Services/GPMSService/GPMSService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GPMSService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63995/GPMSService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63995/GPMSService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63995/GPMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entities.GPMS" />
      <xsd:import schemaLocation="http://localhost:63995/GPMSService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGPMSService_SkipNGetN_OfCustomerDataWithSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfCustomerDataWithSearch" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfCustomerDataWithSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfCustomerDataWithSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfStyleDataWithSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfStyleDataWithSearch" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfStyleDataWithSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfStyleDataWithSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfSizeDataWithSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfSizeDataWithSearch" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfSizeDataWithSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfSizeDataWithSearchResponse" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfColorDataWithSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfColorDataWithSearch" />
  </wsdl:message>
  <wsdl:message name="IGPMSService_SkipNGetN_OfColorDataWithSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:SkipNGetN_OfColorDataWithSearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IGPMSService">
    <wsdl:operation name="SkipNGetN_OfCustomerDataWithSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfCustomerDataWithSearch" message="tns:IGPMSService_SkipNGetN_OfCustomerDataWithSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfCustomerDataWithSearchResponse" message="tns:IGPMSService_SkipNGetN_OfCustomerDataWithSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipNGetN_OfStyleDataWithSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfStyleDataWithSearch" message="tns:IGPMSService_SkipNGetN_OfStyleDataWithSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfStyleDataWithSearchResponse" message="tns:IGPMSService_SkipNGetN_OfStyleDataWithSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipNGetN_OfSizeDataWithSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfSizeDataWithSearch" message="tns:IGPMSService_SkipNGetN_OfSizeDataWithSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfSizeDataWithSearchResponse" message="tns:IGPMSService_SkipNGetN_OfSizeDataWithSearch_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SkipNGetN_OfColorDataWithSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfColorDataWithSearch" message="tns:IGPMSService_SkipNGetN_OfColorDataWithSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGPMSService/SkipNGetN_OfColorDataWithSearchResponse" message="tns:IGPMSService_SkipNGetN_OfColorDataWithSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGPMSService" type="tns:IGPMSService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SkipNGetN_OfCustomerDataWithSearch">
      <soap:operation soapAction="http://tempuri.org/IGPMSService/SkipNGetN_OfCustomerDataWithSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkipNGetN_OfStyleDataWithSearch">
      <soap:operation soapAction="http://tempuri.org/IGPMSService/SkipNGetN_OfStyleDataWithSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkipNGetN_OfSizeDataWithSearch">
      <soap:operation soapAction="http://tempuri.org/IGPMSService/SkipNGetN_OfSizeDataWithSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SkipNGetN_OfColorDataWithSearch">
      <soap:operation soapAction="http://tempuri.org/IGPMSService/SkipNGetN_OfColorDataWithSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GPMSService">
    <wsdl:port name="BasicHttpBinding_IGPMSService" binding="tns:BasicHttpBinding_IGPMSService">
      <soap:address location="http://localhost:63995/GPMSService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>